*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box_img_nav{
   height: 20rem;
   background-image:url(https://http2.mlstatic.com/storage/splinter-admin/o:f_webp,q_auto:low/1693508075039-home-slidermobile-02.png) ;
   background-size:cover;
   background-position: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    height:2.5rem;
    
}

.buttons{
    width: 30rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.buttonNav{
    text-decoration: none;
    color: white;
    font-weight:500;
    font-size: 20px;
}

.buttonNav:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.side_and_product{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.product_img{
    width: 40rem;
}

.nav_sidebar{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 20rem;
    height: 20rem;
    background-color: chocolate;
    border-radius: 20%;
}

.nav_sidebar h2{
    font-size: 2rem;
}

.botones_sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.botones_sidebar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.botones_sidebar a:hover{
    transform: scale(1.2);
}

.container_product{
    display: flex;
    justify-content: center;
    width: 100%;
}

.product_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #98bb;
    padding: 1rem;
    border-radius:5px ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.product_description h2{
    font-size: 3rem;
}

.price{
    font-size: 1.5rem;
}

.final_price{
    font-size: 1.8rem;
    color: red;
}

.comprar{
    padding: 0.5rem;
    border-radius: 15rem;
    background-color: rgb(246, 110, 13);
    color: white;
}

.comprar:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.other_products{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.container_cards_other_products{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid 1px #000;
    border-radius:5px ;
    gap: 0.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img_card{
    width: 10rem;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem
}

.final_price_card{
    font-size: 1.3rem;
    color: red;
}

footer{
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem 0rem 1.5rem 0rem;
    gap: .5rem;
}

footer form label{
    font-size: 1.2rem;
    color: aliceblue;
    font-weight: 700;
}

footer form{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submit{
    padding: .5rem;
}


/*---------css actividad 4-------*/

.body_activity4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
}
